@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

/* Styles from NavBar */

#juego {
    display: none; 
}

#background {
    background-image: url(./img/Fondo/fondo.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#nav-bar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 70px;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

#dropdown {
    position: fixed;
    color: white;
    font-size: 2.5rem;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#discord {
    position: fixed;
    color: white;
    font-size: 2rem;
    top: 39%;
    right: 18px;
}

#github {
    position: fixed;
    color: white;
    font-size: 2rem;
    top: 50%;
    right: 18px;
}

#twitter {
    position: fixed;
    color: white;
    font-size: 2rem;
    top: 61%;
    right: 18px;
}

#title {
    font-family: 'Candal', sans-serif;
    color: white;
    font-size: 120px;
    margin-top: 40px;
    margin-left: 150px;
    text-shadow: 0.07em 0.07em #333;
}

.btn {
    font-family: 'Candal', sans-serif;
    position: fixed;
    letter-spacing: 0.25em;
    top: 550px;
    left: 305px;
    padding: 2rem 3.5rem;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(20deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
}

.btn::before {
    border: 2px solid white;
    background-color: #fc5135;
    top: -1rem;
    left: 0rem;
}

.btn::after {
    border: 2px solid white;
    background-color: #013f3e;
    top: 2rem;
    left: 5rem;
}

.btn:hover::before, .btn:hover::after {
    top: 0;
    transform: skewx(0deg);
}

.btn:hover::after {
    left: 0rem;
}

.btn:hover::before {
    left: 6.5rem;
}

/* Styles from categories */

/* Pieces of the puzzle */

.contenedor {
    position: fixed;
    background-color: black;
    background-color: rgba(82, 74, 74, 0.5);
    left: 50%;
    top: 50%;
    margin-top: -390px;
    margin-left: -500px;
    width: 1000px;
    height: 740px;
    border-radius: 50px;
    -moz-box-shadow: 20px 21px 31px 12px rgba(0,0,0,0.37);
    box-shadow: 20px 21px 31px 12px rgba(0,0,0,0.37);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn-volver {
    font-size: 60px;
    color: #f04938;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

#bloque-1 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-2 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-3 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-4 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-5 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-6 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-7 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-8 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-9 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-10 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-11 {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#bloque-12 {
    position: absolute;
    background-color: white;
    opacity: 0%;
    width: 200px;
    height: 200px;
    left: 707px;
    top: 462px;
}

.button-row {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.button-row > div {
  position: relative;
  opacity: 60%;
  width: 160px;
  height: 50px;
  margin: 0 -84px;
  margin-top: 675px;
  margin-left: 125px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  font-weight: bold;
  cursor: pointer;
}
.button-row > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
.button-row > div > a::before, .button-row > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 160px;
  height: 50px;
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.button-row > div > a::before {
  background-color: #fb5036;
  color: #000;
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}
.button-row > div > a::after {
  background-color: rgb(38, 43, 42, 1.25em);
  border-color: #000;
  color: #fff;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.button-row > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
}

#tiempo{
    display: none;
    position: fixed;
    color: white;
    font-size: 50px;
    right: 30px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container-win {
    display: none;
    position: fixed;
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
    -moz-box-shadow: 20px 21px 31px 12px rgba(0,0,0,0.37);
    box-shadow: 20px 21px 31px 12px rgba(0,0,0,0.37);
    background-color: rgba(82, 74, 74, 0.9);
    z-index: 1;
    border-radius: 30px;
    border: 5px solid black;
}

#text-win {
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 90px;
}

#completed {
    position: fixed;
    color: white;
    margin-left: 140px;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
}

#button-next {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 280px;
    margin-left: 200px;
    color: white;
    border: #000046 1px solid;
    background-color: cornflowerblue;
    cursor: pointer;
}

#button-next:hover {
    border-radius: 50px;
    background-color: rgb(32, 55, 131);
}

#button-finished {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#button-finished > div {
  position: relative;
  opacity: 60%;
  width: 160px;
  height: 50px;
  margin-top: 240px;
  margin-left: 220px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  font-weight: bold;
  cursor: pointer;
}

#button-finished > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}

#button-finished > div > a::before, #button-finished > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 160px;
  height: 50px;
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

#button-finished > div > a::before {
  background-color: #fb5036;
  color: #000;
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}

#button-finished > div > a::after {
  background-color: rgb(38, 43, 42, 1.25em);
  border-color: #000;
  color: #fff;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}

#button-finished > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
}